
<nav class="navbar navbar-expand-lg bg-body-tertiary background-lightspeed p-2 navbar-dark bg-dark menu" >
    <div class="container-fluid " >
        <a class="navbar-brand" href="#">Movies</a>

        <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu2" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 250px;">
                <li class="nav-item">
                    <button type="button" class="btn btn-warning m-1" routerLink="/">Home</button>
                </li>
                <li class="nav-item dropdown">
                    <!-- <button type="button"  class="btn btn-warning m-1" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Action</button> -->

                    <!-- <ul class="dropdown-menu">
                        <li><a class="dropdown-item" >Action</a></li>
                        <li><a class="dropdown-item" >Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" >Something else here</a></li>
                    </ul> -->
                </li>

            </ul>
        </div>
    </div>
</nav>