
<div class="container">
    <nav class="breadcrumb text-light">
        <ol class="breadcrumb text-light">
            <li class="breadcrumb-item text-light"><a href="#">Movies</a></li>
            <!-- <li class="breadcrumb-item" aria-current="page">Movies</li> -->
            <li class="breadcrumb-item active text-light" aria-current="page">Movie Detail</li>
        </ol>
    </nav>
    <div >
        <div class="row">
            <div class="col-lg-3">
                <img class="logo ajustarTamanio" src="assets/img/{{movie.episode_id}}.png" alt="">
                <div  data-setbg="img/anime/details-pic.jpg">

                </div>
            </div>
            <div class="col-lg-9 text-light">
                <div >
                    <div >
                        <h3>{{movie.title}}</h3>
                        <span>Episode: {{movie.episode_id}}</span>
                    </div>
                    <div >
                        <div>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star-half-o"></i></a>
                        </div>
                        <span></span>
                    </div>
                    <p>{{movie.opening_crawl}}</p>
                    <div >
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <ul>
                                    <li><span>Release date: </span>{{movie.release_date}}</li>
                                    <li><span>Director: </span>{{movie.director}}</li>
                                    <li><span>Productor: </span> {{movie.producer}}</li>

                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <p>Characters:</p>
                                <div *ngFor="let character_url of movie.characters">
                                    <a [routerLink]="['/character/']" [queryParams]="{url: character_url}">
                                        <p class="link">
                                            {{character_url?this.character_diccionario[character_url].name:this.character_diccionario[character_url].url}} 
                                        </p>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>