<div class="mt-10">
    <div class="row justify-content-end">
        <div class="col-8">
            <button class=" btn btn-warning btn-gradient" (click)="sortList()">Order Asc/Des</button>
        </div>
        <div class="col-4 justify-content-end">
            <input name="filterFilms" type="search" class="izquierda form-control" placeholder="Buscar..."
                [(ngModel)]="filterFilms" />
        </div>
    </div>
    <br />
    <div class="row row-cols-1 row-cols-md-2  row-cols-lg-6 g-4">
        <div class="col"
            *ngFor="let item of movies | filter:filterFilms | order: {property: 'episode_id', direction: direction}">
            <a class="card-wrap" routerLink="/movie/{{item.episode_id}}">
                <div class="card mb-3 card-color-custom" style="min-height: 45vh;">
                    <div class="row g-0">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <img src="./assets/img/{{item.episode_id}}.png"
                                class="img-fluid card-img-top ajustarTamanio" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{item.title}}</h5>
                                <p class="card-text">
                                    Release Date: {{item.release_date}}
                                    Episode: {{item.episode_id}}
                                    Director: {{item.director}}
                                    Producer: {{item.producer}}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

            </a>
        </div>
    </div>


</div>